.container{
    position: relative;
    height: 100%;
    
}

.button_section{
    /* border: 5px solid black; */
    background-color: #333;
    height: 40px;
}

.button_section label{
    color: white;
    float: left;
    padding: 10px 20px;    
}
.button_section label:hover{
    background-color: white;
    color: black;
    overflow: hidden;
}


.bar{
    display: inline-block;
    width: 20px;
    /* Make bars up right: */
    vertical-align: bottom;
    /* separate bars */
    margin: 0px 5px;
    /* Make individual bars bigger */
    padding: 20px;
}

.graph_section{
    position: relative;
    margin-top: 300px;

}

.title{
    font-size: 20px;
}

.speed_container{
    color: white;
    padding: 8px;
}

.speed_input{
    width: 50px;
}
